.home-container {
  padding: 10px;
  display: block;
  align-items: center;
}

.home-title h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.home-subtitle h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #7e7e7e;
}

.start-button, .start-button:hover, .start-button.active, .start-button.disable {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #1890ff;
  border-radius: 4px;
  margin-top: 27px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 20px;
  }

  .home-title h1 {
    font-size: 32px;
    line-height: 50px;
}

.home-subtitle h3 {
    font-size: 24px;

}
}

@media (min-width: 768px) {
  .home-container {
    padding: 40px;
  }

  .home-title h1 {
    font-size: 48px;
    line-height: 64px;
  }

  .home-subtitle h3 {
    font-size: 24px;
    line-height: 40px;
  }
}
